

    <div class="sidebar" data="dark-blue">
      <div class="sidebar-wrapper">

        <div class="logo">
          <a target="_blank" href="https://atrotech.ir" class="simple-text logo-mini">
             توانکار
          </a>
          <a target="_blank" href="https://atrotech.ir" class="simple-text logo-normal">
            Tavankar
          </a>
        </div>

        <ul class="nav">
        {% if user.is_authenticated %}

          <li class="{% if request.path == '/product' %} active {% endif %}">
            <a href="{% url 'app:product' %}">
              <i class="tim-icons icon-app"></i>
              <p> محصولات </p>
            </a>
          </li>

          <li class="{% if request.path == '/register_purchase_request' %} active {% endif %}">
            <a href="{% url 'app:register_purchase_request' %}">
              <i class="tim-icons icon-notes"></i>
              <p> ثبت درخواست خرید </p>
            </a>
          </li>

          <li class="{% if request.path == '/purchase_request' %} active {% endif %}">
            <a href="{% url 'app:purchase_request' %}">
              <i class="tim-icons icon-notes"></i>
              <p> درخواست های خرید </p>
            </a>
          </li>

          <li class="{% if request.path == '/buyers' %} active {% endif %}">
            <a href="{% url 'app:buyers' %}">
              <i class="tim-icons icon-single-02"></i>
              <p> خریداران </p>
            </a>
          </li>

          <li class="{% if request.path == '/category' %} active {% endif %}">
            <a href="{% url 'app:category' %}">
              <i class="tim-icons icon-align-center"></i>
              <p> دسته بندی </p>
            </a>
          </li>


          <li class="{% if request.path == '/profile' %} active {% endif %}">
            <a href="{% url 'app:profile' %}">
              <i class="tim-icons icon-badge"></i>
              <p> پروفایل </p>
            </a>
          </li>


          <li>
            <a href="{% url 'account_logout' %}" >
              <i class="tim-icons icon-user-run"></i>
              <p> خروج </p>
            </a>
          </li>

          {% endif %}

        </ul>

      </div>
    </div>
