{% extends "layouts/base.html" %}
{% block title %} خریداران {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
{% load mptt_tags %}





<div class="row">
  <div class="col-md-12">
    <div class="card card-lavender">
      <div class="card-header">
        <h3 class="card-title" dir="rtl" align="center"> خریداران </h3>
      </div>
    </div>
  </div>
</div>






<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">

        <div class="table-responsive">
          <table class="table tablesorter text-center" dir="rtl" align="center">
            <thead class="text-primary">
              <tr class="bold">
                <th> نام خریدار </th>
                <th> شماره تلفن </th>
                <th> آدرس </th>
              </tr>
            </thead>
            <tbody>
              {% for Buyers in buyers %}
              <tr>
                <td> <a href="{{ Buyers.get_absolute_url }}">  {{ Buyers.name }} </a> </td>
                <td> {{ Buyers.phone_number }} </td>
                <td> {{ Buyers.address}} </td>
              </tr>
              {% endfor%}
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>








{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script>


    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>
{% endblock javascripts %}
