{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="row">
  <div class="col-md-12">
    <div class="card card-lavender">
      <div class="card-header">
        <h2 class="card-title" dir="rtl" align="center"> خریدار؛  {{ buyer.name }} </h2>
      </div>
    </div>
  </div>
</div>








<div class="row">


  <div class="col-md-12" dir="rtl" align="right">
    <div class="card card-user">
      <div class="card-header">
        <h6 class="card-title" style="color:#8d39e4ad;"> اطلاعات کلی </h6>
      </div>
      <div class="card-body">
        <table class="table tablesorter text-center" id="">
          <thead class=" text-primary">
            <tr class="bold">
              <th> شماره تلفن </th>
              <th> آدرس </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> {{ buyer.phone_number }} </td>
              <td> {{ buyer.address }} </td>
            </tr>
          </tbody>
        </table>

        <div align="right" dir="rtl" class="card-description">
          <p class="category"> {{ buyer.description|linebreaks }} </p>
        </div>


      </div>
    </div>
  </div>



  <div class="col-md-12">
    <div class="card" align="right" dir="rtl">
      <div class="card-header"> موارد خریداری شده توسط {{ buyer.name }} </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter text-center" id="">
            <thead class=" text-primary">
              <tr class="bold">
                <th> شماره درخواست </th>
                <th> کارشناس فروش </th>
                <th> روش تسویه </th>
                <th> تاریخ </th>
                <th> وضعیت </th>
              </tr>
            </thead>
            <tbody>
            {% for Purchase_request in buyer_requests %}
              {% if Purchase_request.status == 'جدید' %}
               <tr style="background-color:#f98f223d;">
              {% else %}
               <tr>
              {% endif %}
                <td><a href="{{ Purchase_request.get_absolute_url }}"> {{ Purchase_request.id }} </a></td>
                <td> {{ Purchase_request.user }} </td>
                <td> {{ Purchase_request.method }} </td>
                <td> {{ Purchase_request.date }} </td>
                <td> {{ Purchase_request.status }} </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>











{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>



    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
