{% extends "layouts/base.html" %}

{% block title %} {{ product.name }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


<div class="row">
  <div class="col-md-12">
    <div class="card card-lavender">
      <div class="card-header">
        <h2 class="card-title" dir="rtl" align="center"> {{ product.name }} </h2>
      </div>
    </div>
  </div>
</div>




<div class="row">
  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">


        <div class="slideshow-container">
              <div class="mySlides mold_slide_fade">
                <img src="{{ product.image.url }}" style="width:100%">
              </div>
        </div>

        <br><br>

        <div align="right" dir="rtl" class="card-description">
          <p class="category"> {{ product.description|linebreaks }} </p>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-12" dir="rtl" align="right">
    <div class="card card-user">
      <div class="card-header">
        <h6 class="card-title" style="color:#8d39e4ad;"> اطلاعات کلی </h6>
      </div>
      <div class="card-body">
        <table class="table tablesorter text-center" id="">
          <thead class=" text-primary">
            <tr class="bold">
              <th> کد </th>
              <th> تعداد در کارتن </th>
              <th> قیمت </th>
              <th> دسته بندی </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td> {{ product.code }} </td>
              <td> {{ product.qty_in_box }} </td>
              <td> {{ product.price_display }} </td>
              <td> <a href="{{ product.category.get_absolute_url }}">{{ product.category }} </a> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>









{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>



    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
