{% extends "layouts/base.html" %}

{% block title %} {{ purchase_request }} {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load mathfilters %}
{% load jalali_tags %}

<div class="row">
  <div class="col-md-12">
    <div class="card card-lavender">
      <div class="card-header">
        <h2 class="card-title" dir="rtl" align="center"> {{ purchase_request }} </h2>
      </div>
    </div>
  </div>
</div>



<div class="row" align="right" dir="rtl">

  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter text-center" id="">
            <thead class="text-primary">
              <tr class="bold">
                <th> کارشناس فروش </th>
                <th> خریدار </th>
                <th> تاریخ </th>
                <th> روش تسویه </th>
                <th> درصد تخفیف </th>
                <th> وضعیت </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> {{ purchase_request.user }} </td>
                <td> <a href="{{ purchase_request.buyer.get_absolute_url }}"> {{ purchase_request.buyer }} </a> </td>
                <td> {{ purchase_request.date }} </td>
                <td> {{ purchase_request.method }} </td>
                <td> {{ purchase_request.discount }} % </td>
                <td> {{ purchase_request.status }} </td>
            </tbody>
          </table>
        </div>

        <div class="card-header"> <h4> توضیحات </h4> </div>
        <p class="category"> {{ purchase_request.description|linebreaks }} </p>
        <br><hr><br><br>

        <div class="card-header"> <h4> کالا های خریداری شده : </h4> </div>

   <div id="factor"> <br><br>

          <table class="table tablesorter text-center">
            <thead class=" text-primary">
              <tr class="bold">
                <th><h4> نام کالا </h4></th>
                <th><h4> کد </h4></th>
                <th><h4> تعداد در کارتن </h4></th>
                <th><h4> قیمت واحد </h4></th>
                <th><h4> تعداد </h4></th>
                <th><h4> قیمت مجموع </h4></th>
              </tr>
            </thead>
            <tbody>
            {% for Product_qty in product_qty %}
              <tr>
                <td><h5> <a href="{{ Product_qty.product.get_absolute_url }}"> {{ Product_qty.product.name }} </a> </td>
                <td><h5> {{ Product_qty.product.code }} </h5></td>
                <td><h5> {{ Product_qty.product.qty_in_box }} عدد </h5></td>
                <td><h5> {{ Product_qty.product.price }} ریال </h5></td>
                <td><h5>{{ Product_qty.qty }} </h5></td>
                <td><h5> {% with answer=Product_qty.qty  %} {{ answer|mul:Product_qty.product.price }} {% endwith %} ریال </h5></td>
              </tr>
            {% endfor %}
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> <h4>  درصد تخفیف: </h4> </td>
                <td> <h5> {{ purchase_request.discount }} % </h5> </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td> <h4>  مجموع: </h4> </td>
                <td> <h5> <span id="totalprice"></span> ریال </h5> </td>
              </tr>
            </tbody>
          </table>
      </div>

          <button onclick="printDiv('factor')"> <i style="font-size:24px" class="fa">&#xf02f;</i> </button>

      </div>
    </div>
  </div>

</div>




{% if request.user.is_superuser %}
{% if purchase_request.status == 'جدید' %}
 <div dir="rtl" align="right">
     <form method="post" action="#">
       {% csrf_token %}
       <button type="submit" class="btn btn-fill btn-primary"> ثبت درخواست </button>
    </form>
 </div>
{% endif %}
{% endif %}













{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>



    var prices = [
      {% for Product_qty in product_qty %}
        { "qty":{{Product_qty.qty}}, "price":{{Product_qty.product.price}} },
      {% endfor %}
     ];

     var price = 0;
     for (i = 0; i < prices.length; i++) {
       price += prices[i].qty * prices[i].price
     }

     discount =  ({{ purchase_request.discount }}/100)
     discountprice = ( price * discount )
     totalprice =  price - discountprice
     document.getElementById("totalprice").innerHTML = totalprice ;





     function printDiv(factor){
     			var printContents = document.getElementById(factor).innerHTML;
     			var originalContents = document.body.innerHTML;
     			document.body.innerHTML = printContents;
          window.document.dir = "rtl";
     			window.print();
     			document.body.innerHTML = originalContents;
     		}





  </script>

{% endblock javascripts %}
