{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
{% load jalali_tags %}

<div class="row">
  <div class="col-md-12">
    <div class="card card-lavender">
      <div class="card-header">
        <h2 class="card-title" dir="rtl" align="center"> {{ purchase_request }} </h2>
      </div>
    </div>
  </div>
</div>





<div class="row" align="right" dir="rtl">

  <div class="col-md-12">
    <div class="card card-user">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter text-center" id="">
            <thead class="text-primary">
              <tr class="bold">
                <th> کارشناس فروش </th>
                <th> خریدار </th>
                <th> تاریخ </th>
                <th> روش تسویه </th>
                <th> وضعیت </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td> {{ purchase_request.user }} </td>
                <td> <a href="{{ purchase_request.buyer.get_absolute_url }}"> {{ purchase_request.buyer }} </a> </td>
                <td> {{ purchase_request.date }} </td>
                <td> {{ purchase_request.method }} </td>
                <td> {{ purchase_request.status }} </td>
            </tbody>
          </table>
        </div>

        <div class="card-header"> <h4> توضیحات </h4> </div>
        <p class="category"> {{ purchase_request.description|linebreaks }} </p>
        <br>

      </div>
    </div>
  </div>

</div>














{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>



    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>

{% endblock javascripts %}
