{% extends "layouts/base.html" %}
{% block title %} Dashboard {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
{% load bootstrap %}


<div class="row">
  <div class="col-md-12">
    <div class="card card-lavender">
      <div class="card-header">
        <h3 class="card-title" dir="rtl" align="center"> ثبت درخواست جدید </h3>
      </div>
    </div>
  </div>
</div>




    <form action="#" method="post" dir="rtl" align="right" id="form">
     {% csrf_token %}
     {{ purchase_req_form.as_p }}
     <hr>

     <div class="add-field">

      <label> محصول </label>
      <select name="product"  class="form-control show-tick selectpicker">
        {% for Product in products %}
          <option value={{Product.id}}>{{Product.name}}</option>
        {% endfor %}
      </select>

      <label> تعداد </label>
      <input name="qty" type="number" class="form-control">

     </div>

     <div class="card-footer">
       <button type="submit" class="btn btn-fill btn-primary"> ارسال </button>
     </div>
    </form>



    <button id="btn" type="button"> add field </button>








{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script>


    (function() {
      var counter = 0;
      var btn = document.getElementById('btn');
      var form = document.getElementById('form');
      var addInput = function() {
        counter++;
        var input = document.createElement("input");
        input.id = 'input-' + counter;
        input.type = 'text';
        input.name = 'name';
        input.placeholder = 'Input number ' + counter;
        form.appendChild(input);
      };
      btn.addEventListener('click', function() {
        addInput();
      }.bind(this));
    })();


  </script>
{% endblock javascripts %}
