{% extends "layouts/base.html" %}
{% block title %} Dashboard {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
{% load bootstrap %}


<div class="row">
  <div class="col-md-12">
    <div class="card card-lavender">
      <div class="card-header">
        <h3 class="card-title" dir="rtl" align="center"> ثبت درخواست جدید </h3>
      </div>
    </div>
  </div>
</div>




<div class="row">
  <div class="col-md-12">
    <div class="card"  align="right" dir="rtl">
      <div class="card-header">
        <h4 class="title"> ثبت درخواست </h4> <hr>
      </div>
      <div class="card-body">

        <form action="#" method="post" dir="rtl" align="right">
         {% csrf_token %}
         <div class="row">
           <div class="col-md-4 pr-md-4">
             <div class="form-group">
               {{ purchase_req_form.buyer|bootstrap }}
             </div>
           </div>
           <div class="col-md-4 px-md-4">
             <div class="form-group">
               {{ purchase_req_form.method|bootstrap }}
             </div>
           </div>
           <div class="col-md-2 pl-md-4">
             <div class="form-group">
               {{ purchase_req_form.discount|bootstrap  }}
             </div>
           </div>
         </div>
         <div class="row">
           <div class="col-md-10 pr-md-4">
             <div class="form-group">
               {{ purchase_req_form.description|bootstrap  }}
             </div>
           </div>
         </div>
         <br><br>

           <label> محصول </label>
           <select name="product-0" id="0" class="form-control">
             {% for Product in products %}
               <option value={{Product.id}}>{{Product.name}}</option>
             {% endfor %}
           </select>

           <label> تعداد </label>
           <input name="qty-0" type="number" class="form-control">


           <div class="add-field" id="form"> </div>
           <button id="btn" type="button"> افزودن محصول دیگر </button>
           <input name="tot-counter" id="tot-counter" type="hidden" value="0">

         <div class="card-footer" align="center">
           <button type="submit" class="btn btn-fill btn-primary"> ذخیره </button>
         </div>
        </form>


      </div>
    </div>
  </div>
</div>









{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script>




    var products = [
      {% for Product in products %}
        { "name":"{{Product.name}}", "id":{{Product.id}} },
      {% endfor %}
     ];


    (function() {
      var counter = 0;
      var btn = document.getElementById('btn');
      var form = document.getElementById('form');
      var addInput = function() {
        counter++;


        var br = document.createElement("br");
        form.appendChild(br);
        var br = document.createElement("br");
        form.appendChild(br);


        var label = document.createElement("label");
        label.innerHTML = 'محصول';
        form.appendChild(label);
        var select = document.createElement("select");
        select.type = 'number';
        select.id = counter;
        select.name = 'product-' + counter;
        select.classList.add("form-control");
        form.appendChild(select);

        var x = document.getElementById(counter);
        for (i = 0; i < products.length; i++) {
          var option = document.createElement("option");
          option.text = products[i].name;
          option.value = products[i].id;
          x.add(option);
        }

        var label = document.createElement("label");
        label.innerHTML = 'تعداد';
        form.appendChild(label);
        var input = document.createElement("input");
        input.type = 'number';
        input.name = 'qty-' + counter;
        input.classList.add("form-control");
        form.appendChild(input);


        document.getElementById("tot-counter").value = counter ;

      };
      btn.addEventListener('click', function() {
        addInput();
      }.bind(this));
    })();







  </script>
{% endblock javascripts %}
