{% extends "layouts/base.html" %}
{% block title %} Dashboard {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}
{% load bootstrap %}


<div class="row">
  <div class="col-md-12">
    <div class="card card-lavender">
      <div class="card-header">
        <h3 class="card-title" dir="rtl" align="center"> ثبت درخواست جدید </h3>
      </div>
    </div>
  </div>
</div>




    <form action="#" method="post" dir="rtl" align="right">
     {% csrf_token %}
     {{ purchase_req_form|bootstrap }}
     <hr><hr><hr>
     {{ product_qty_form|bootstrap }}
     <div class="card-footer">
       <button type="submit" class="btn btn-fill btn-primary"> ارسال </button>
     </div>
    </form>









{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script>


  </script>
{% endblock javascripts %}
