{% extends "layouts/base.html" %}
{% block title %} Dashboard {% endblock %}
<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}


{% block content %}


<div class="row">
  <div class="col-md-12">
    <div class="card card-lavender">
      <div class="card-header">
        <h3 class="card-title" dir="rtl" align="center"> ثبت خریدار </h3>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="card"  align="right" dir="rtl">
      <div class="card-header">
        <h5 class="title"> ثبت خریدار جدید </h5>
      </div>
      <div class="card-body">

         <form method="post" action="{% url 'app:register_buyer' %}">
           {% csrf_token %}
          <div class="row">
            <div class="col-md-3 pr-md-1">
              <div class="form-group">
                <label> نام </label>
                <input name="name" type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-4 px-md-1">
              <div class="form-group">
                <label> شماره تلفن </label>
                <input name="phone_number" type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-5 pl-md-1">
              <div class="form-group">
                <label> آدرس </label>
                <input name="address" type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 pr-md-1">
              <div class="form-group">
                <label> توضیحات </label>
                <input name="description" type="text" class="form-control">
              </div>
            </div>
          </div>

          <div class="card-footer">
            <button type="submit" class="btn btn-fill btn-primary"> ذخیره </button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>


<div dir="rtl" align="right">
   <h5> تعداد کل خریداران: {{count}} </h5>
</div>










{% endblock content %}


<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>
{% endblock javascripts %}
