{% extends 'layouts/base.html' %}

{% block title %}  موارد پیدا شده  {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


{% if messages %}
{% for k in messages %}
<br> <br>
<h5 dir="rtl" align="center"> {{k}} </h5>
{% endfor %}
{% endif %}




{% if sr %}


  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-header ">
          <div class="card-header">
            <h3 class="card-title" align="right" dir="rtl"><i class="tim-icons icon-zoom-split text-primary"></i> موارد پیدا شده </h3>
            <br>
          </div>
        </div>
        <div class="card-body" align="right" dir="rtl">
          <div class="table-full-width table-responsive">
            <table class="table">
              <tbody>

                {% for Product in sr %}
                <tr>
                  <td>
                    <p class="title"> <a href="{{ Product.get_absolute_url }}"> {{ Product.name }} </a>  </p>
                  </td>
                  <td>
                    <p class="text-muted"> {{ Product.description|slice:":120" }}... </p>
                  </td>
                </tr>
                {% endfor %}


                {% for Buyers in sr %}
                <tr>
                  <td>
                    <p class="title"> <a href="{{ Buyers.get_absolute_url }}"> {{ Buyers.name }} </a>  </p>
                  </td>
                  <td>
                    <p class="text-muted"> {{ Buyers.description|slice:":120" }}... </p>
                  </td>
                </tr>
                {% endfor %}


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>






{% endif %}








{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
